body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER SECTION --------------------- */

header {
  background-color: #009688;
  height: 100px;
  color: white;
  display: flex;
  font-weight: 100;
}

.container-header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.brand {
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.brand-img {
  height: 30px;
  opacity: 0.8;
  margin-right: 10px;
}

.brand-text {
  position: relative;
  top: 2px;
}

.user-msg {
  display: flex;
  align-items: center;
}

.user-msg-text {
  font-size: 1.3rem;
  color: #eeeeee;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-name {
  font-size: 0.9rem;
  font-weight: 400;
}

.profile-email {
  font-size: 0.8rem;
  opacity: 0.7;
}

.avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.26;
  margin-right: 20px;
}

.usr-info {
  display: flex;
  flex-direction: column;
}

/* FILTER SECTION --------------------- */

#section-filter {
  background-color: #e3e3e3;
}

.container-filter {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  height: 100px;
}

.filter-block {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 20px 0 20px;
}

.filter-block::after {
  content: '';
  background-color: #000000;
  opacity: 0.12;
  height: 70%;
  width: 1px;
  border-radius: 0.5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

#filters-title {
  text-transform: uppercase;
  color: #909090;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.filter-caption {
  color: #009688;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgb(234, 0, 255);
  height: 50px;
}

.filter-cbox-container {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px dashed rgb(0, 185, 15);
  flex-grow: 1;
}

.filter-cbox {
  box-sizing: border-box;
  border: 1px dashed rgba(0, 0, 0, 0.281);
  padding: 0 3px 0 3px;
}