body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* HEADER SECTION --------------------- */

header {
  background-color: #009688;
  height: 100px;
  color: white;
  display: flex;
  font-weight: 100;
}

.container-header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.brand {
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.brand-img {
  height: 30px;
  opacity: 0.8;
  margin-right: 10px;
}

.brand-text {
  position: relative;
  top: 2px;
}

.user-msg {
  display: flex;
  align-items: center;
}

.user-msg-text {
  font-size: 1.3rem;
  color: #eeeeee;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-name {
  font-size: 0.9rem;
  font-weight: 400;
}

.profile-email {
  font-size: 0.8rem;
  opacity: 0.7;
}

.avatar-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.26;
  margin-right: 20px;
}

.usr-info {
  display: flex;
  flex-direction: column;
}

/* FILTER SECTION --------------------- */

#section-filter {
  background-color: #e3e3e3;
}

.container-filter {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  height: 100px;
}

.filter {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.filter::after {
  content: '';
  background-color: #000000;
  opacity: 0.12;
  height: 70%;
  width: 1px;
  border-radius: 0.5px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}